[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MPBoost"]
	path = MPBoost
	url = https://github.com/cran/MPBoost
[submodule "kerdiest"]
	path = kerdiest
	url = https://github.com/cran/kerdiest
[submodule "npcure"]
	path = npcure
	url = https://github.com/cran/npcure
